* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug {
    height: 100%;
}
.debug.header {
    height: 50%;
}
.debug nav{
    background-color: #2C3E50 !important;
    color: white !important;
}
.debug .jumbotron {
    background-color: gray !important;
}
.debug .red {
    height: 300px;
    background-color: red;

}
.debug .blue {
    height: 200px;
    background-color: blue;

}
.debug .short-red {
    height: 100px;
    background-color: red;

}
.debug .short-blue {
    height: 50px;
    background-color: blue;

}
.debug .container_top {
    background-color: yellowgreen !important;
}
.debug .container_middle {
    height: 100% !important;
    background-color: fuchsia !important;
}
.debug .container_bottom {
    height: 100% !important;
    background-color: royalblue !important;
}
.debug .portfolio {
    height: 300px;
    width: 100%;
    background-color: teal;

}
.debug .about {
    height: 400px;
    background-color: salmon;
}
.debug .contact {
    height: 400px;
    background-color: white;
}
.debug footer {
    height: 500px;
}
.debug .footer_top {
    height: 80%;
}
.debug .footer_bot {
    height: 20%;
}
.debug .footer_top>.row {
    height: 100%;
}
.debug .footer_bot>.row {
    height: 100%;
}
.debug .location {
    height: 100%;
    background-color: #3A546D;
}
.debug .copywright {
    height: 100%;
    background-color: #2C3E50;

}
@media all  and  (max-width: 577px) {
    .navbar-nav {
        display: none !important;
    }
}
@media all  and  (min-width: 578px) {
    .navbar-toggler-icon {
        display: none !important;
    }
}